#picky-toggle
{
    padding: 10px;
}

.button-swatch
{
    width: 10px;
    height: 10px;
}

.picky-popup
{
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid #cccccc;
    padding: 5px;
}
.picky-popup.open
{
    display: block;
}

.row
{
    width: 100%;
    overflow: hidden;
    padding: 5px;
}

.picky-tone-pane
{
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
    float: left;
    background-color: red;
}

.picky-hue-pane
{
    position: relative;
    display: block;
    width: 50px;
    height: 150px;
    float: left;
    margin: 0 0 0 10px;
    background-color: blue;
}

.picky-swatch
{
    width: 30px;
    height: 30px;
    float: left;
}

.picky-text-input
{
    float: left;
}